html {
    background-color: cornsilk;
}

.title {
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(185, 125, 47);
    color: cornsilk;
}

.button-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-containers button {
    color: cornsilk;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(185, 125, 47);
    border-radius: 12px;
    padding: 15px;
    text-align: center;
}

.button-containers img {
    height: auto;
    width: 400px;
}

/* Set the footer at the bottom */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

footer div p {
    background-color: rgb(185, 125, 47);
    color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}