html {
    background-color: cornsilk;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(185, 125, 47);
    color: cornsilk;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    color: cornsilk;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(185, 125, 47);
    border-radius: 12px;
    padding: 15px;
    text-align: center;
}

button:active {
    background-color: rgb(149 106 48);
}

button:hover {
    background-color: rgb(169 117 48);
}

section p {
    color: cornsilk;
    background-color: rgb(185, 125, 47);
    padding: 10px;
}

img {
    height: auto;
    width: 400px;
}

/* Set the footer at the bottom */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: rgb(185, 125, 47);
    color: white;
}

.left {
    float: left;
    margin: 0;
}

.right {
    float: right;
    margin: 0;
}